.table p:nth-child(1){width: 90px;}
.table p:nth-child(2){width: 100px;}
.table p:nth-child(3){width: 100px;}
.table p:nth-child(4){width: 110px;}
.table p:nth-child(5){width: 90px;}

.table p:nth-child(1),.table p:nth-child(2),.table p:nth-child(3),.table p:nth-child(4),.table p:nth-child(5){text-align: center;}

.btns
{
  position: fixed;
  bottom: 0;
  display: flex; 
  gap: 10px;
  z-index: 8;
  transition: .3s;
}
.btns.active{bottom: 14vh;}


#tableNull
{
    font-size: .7em;
    text-align: center;
    width: 90vw;
    margin: auto;
    color: var(--color-disabled);
}

.hide
{
  top: 100vh !important;
  z-index: 2;
}