.afegirDia
{
  display: flex;
  gap: 5px;
  margin-top: 1em;
}


/* LA TAULA ESTA CENTRADA JA QUE ES PETITA */
.table
{
  justify-content: center;
}
p[name="estat"],
p[name="data"]{width: 100px;}

.btns
{
  position: fixed;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  display: flex; 
  gap: 10px;
  z-index: 8;
  transition: .3s;
}
.btns.active{bottom: 14vh;}

#exit.hide
{
  top: 105vh !important;
  z-index: 2;
}
.btn{padding: .25em 1em; border: none;color:white;border-radius: 5px;}
.actions{display: flex; gap: 5px;}
.afegirGuardies{background: var(--color-green);}
.btn_desactivate{background: var(--color-red);}

.loader
{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_box
{
  width: 80%;
  height: 80px;
  border-radius: 30px;
  background-color: var(--color-disabled);

  display: flex;
  align-items: center;
  padding: 20px;
}
.loader_box p {
  color: white;
}
