<header>
    <h1>ADMINISTRACIO</h1>
    <p>Dies festius</p>
</header>
<section id="body">
    <div class="filtres">
        <select #mes (change)="setMes(mes.value)"> <!--filtre per mes-->
            <option *ngFor="let m of this.mesos">{{m}}</option>
        </select>
        <button (click)="filterElements()">FILTRAR</button>
    </div>

    <div class="afegirDia">
        <input type="date" #date>
        <button class="addFestiu" (click)="addFestiu(date.value)">AFEGIR</button>
    </div>

    <div class="table">
        <ul>
            <li class="tr_header">
                <p name="data">DATA</p> 
            </li>
            <li class="table_li" *ngFor="let t of this.festius" #liElement (click)="selectDay(liElement)" (click)="changeDia(t.dia)">
                <p name="data">{{dataToString(t.dia)}}</p> 
            </li>
        </ul>
    </div>
    <div class="btns">
        <button class="btn btn_desactivate" (click)="btnDesactivate()"> Eliminar </button>
        <button class="btn_secondary" (click)="borrarSeleccio()"> eliminar selecció </button>
    </div>

</section>

<div id="exit" (click)="goToAdmin()"></div>
<app-navbar></app-navbar>
