<header>
    <h1>ADMINISTRACIO</h1>
    <p>Dies festius</p>
</header>
<section id="body">
    <div class="afegirDia">
        <input type="date" #date>
        <button class="addFestiu" (click)="addFestiu(date.value)">AFEGIR</button>
    </div>
    <div class="filtres">
        <select #mes (change)="setMes(mes.value)"> <!--filtre per mes-->
            <option *ngFor="let m of this.mesos">{{m}}</option>
        </select>
        <button (click)="filterElements()">FILTRAR</button>
    </div>

    <div class="table">
        <ul>
            <li class="tr_header">
                <p name="data">DATA</p> 
            </li>
            <li class="table_li" #liElement (click)="selectDay(liElement)">
                <p name="data">Diumenges</p> 
            </li>
            <li class="table_li" *ngFor="let t of this.festius" #liElement (click)="selectDay(liElement)" (click)="changeDia(t.dia)">
                <p name="data">{{dataToString(t.dia)}}</p> 
            </li>
        </ul>
    </div>
    <div class="btns">
        <div class="actions">
            <button class="btn afegirGuardies" (click)="createGuardies()"> Crear Guardies </button>
            <button class="btn btn_desactivate" (click)="btnDesactivate()"> Eliminar </button>
        </div>
        <div>
            <button class="selectAll btn_secondary" (click)="selectAll()">sel·leccionar tot</button>
        </div>
    </div>

</section>

<div id="exit" (click)="goToAdmin()"></div>
<app-navbar></app-navbar>

<div *ngIf="this.loading">
    <div class="loader">
      <div class="loader_box">
        <p>S'estan creant les guardes...</p>
      </div>
    </div>
</div>
