<header>
    <h1>CALENDARI</h1>
    <p>{{this.nomDia}}
    <p>
</header>

<section id="body">
    <section id="color_legend">
        <div class="legend_item">
            <div class="color"></div>
            <h5>apuntades</h5>
        </div>
        <div class="legend_item">
            <div class="color"></div>
            <h5>disponibles</h5>
        </div>
    </section>
    <div id="unitats">
        <div *ngFor="let unitat of this.unitats" class="unitat_box">

            <div class="unitat">
                <h1>{{unitat.nom}}</h1>
            </div>
                    <div class="unitat_data">
                        <div class="buttons">
                            <input type="checkbox">
                            <button>MATI</button>
                            <button>TARDA</button>
                        </div>
                        
                <div *ngFor="let guardia of this.retornaArrayGuardies(unitat.nom) ">
                    <div *ngIf="guardia.categoria == 'Infermeria'">
                        <div *ngIf="guardia.torn == 'Dia'">
                            <div class="info torn_mati">
                                <p>Places</p>
                                <p>{{guardia.places}}</p>
                                <p>{{guardia.inscripcions}}</p>
                                <p></p>
                            </div>
                        </div>
                        <div *ngIf="guardia.torn == 'Nit'">
                            <div class="info torn_tarda">
                                <p>Places</p>
                                <p>{{guardia.places}}</p>
                                <p>{{guardia.inscripcions}}</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="actions">
                            <button class="btn_primary">Inscriure'm</button>
                            <button class="btn_secondary">cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="exit" (click)="goToMonth()"></div>
</section>