<div class="loginbackground">
    <div class="login">
        <div class="logo"><img src="../../../../assets/img/logo2.png" class="logoHospital"></div>
        <div class="inputs">
            <form [formGroup]="this.formulariLogin" (ngSubmit)="this.login()">
                <label for="username">Usuari:</label>
                <input type="text" placeholder="nom" formControlName="nom" required><br><br><br>
                <label for="password">Contrasenya:</label>
                <input type="password" placeholder="contrasenya"  formControlName="password" required><br><br>
                <div *ngIf="errorMissatge">{{errorMissatge}}</div><br><br>
                <button type="submit">Iniciar Sessió</button>
            </form>
        </div>
    </div>   
</div>