.table p:nth-child(1){width: 90px;}
.table p:nth-child(2){width: 100px;}
.table p:nth-child(3){width: 100px;}
.table p:nth-child(4){width: 110px;}
.table p:nth-child(5){width: 90px;}

.table p:nth-child(1),.table p:nth-child(2),.table p:nth-child(3),.table p:nth-child(4),.table p:nth-child(5){text-align: center;}

.btns{
  position:fixed;
  display:flex;
  flex-direction:column;
  align-items: center;
  gap: 10px;
  transition: .3s;
  bottom: 0;
}

.actions{
  display: flex;
  gap:10px;
}
.btns.active{bottom: 14vh;}

#tableNull
{
    font-size: .7em;
    text-align: center;
    width: 90vw;
    margin: auto;
    color: var(--color-disabled);
}

.hide
{
  top: 100vh !important;
  z-index: 2;
}