<header>
    <h1>GUARDIES</h1>
    <div><h3 >historial</h3><h3 class="active">agenda</h3></div>
</header>
<section id="body">
    <div id="color_legend">
        <div class="legend_item">
            <div class="color"></div>
            <h5>assignades</h5>
        </div>
        <div class="legend_item">
            <div class="color"></div>
            <h5>alta prioritat</h5>
        </div>
        <div class="legend_item">
            <div class="color"></div>
            <h5>apuntades</h5>
        </div>
    </div>
    <div id="agenda_box">
        <div class="agendaMonth" month-data="gener">
            <div class="day" status-data="assignada">
                <div class="dayAction"><i class="fa-regular fa-trash-can"></i></div>
                <p class="num">06</p>
                <div class="place">
                    <div><h3>Unitat 2</h3><label>TARDA</label></div>
                    <p>Infermeria, lesions greus</p>
                </div>
            </div>
            <div class="day"  status-data="">
                <div class="dayAction"><i class="fa-regular fa-trash-can"></i></div>
                <p class="num">18</p>
                <div class="place">
                    <div><h3>Unitat 1</h3><label>MATI</label></div>
                    <p>Infermeria, reabilitació</p>
                </div>
            </div>
        </div>
        <div class="agendaMonth" month-data="abril">
            <div class="day" status-data="prioritat">
                <div class="dayAction"><i class="fa-regular fa-trash-can"></i></div>
                <p class="num">29</p>
                <div class="place">
                    <div><h3>Unitat 3</h3><label>MATI</label></div>
                    <p>Infermeria, lesions lleus</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="confirm_window" class="hide">
    <div id="window_box">
        <h2>Vols Eliminar la guardia?</h2>
        <div class="data">
            <label>Dia</label><p name="dia">10, Gener 2022</p>
            <label>Torn</label><p name="torn">MATI</p>
            <label>Places</label><p name="places">2</p>
            <label>Inscripcions</label><p name="inscripcions">6</p>
        </div>
        <div id="buttons">
            <button class="btn_cancel">No, la vull fer</button>
            <button class="btn_eliminar">Sí, elimina-la</button>
        </div>    
    </div>
</section>