<header>
    <h1>GUARDIES</h1>
    <div><h3 >historial</h3><h3 class="active">agenda</h3></div>
</header>
<section id="body">
    <div id="color_legend">
        <div *ngFor="let t of this.torns" class="legend_item">
            <div class="color"></div>
            <h5>{{t.nom}}</h5>
        </div>
    </div>
    <div id="agenda_box" *ngIf="this.guardies.length > 0; else senseGuardies">
        <div *ngFor="let mes of this.guardies" class="agendaMonth" [attr.month-data]="mes.nom" #guardies>
            <div *ngFor="let g of mes.guardies" class="day" [attr.torn-data]="g.torn">
                <div *ngIf="g.estatGuardia != 'assignat';else elseBlock" #dayAction class="dayAction" (click)="toTrashEventListener(dayAction)"><i class="fa-regular fa-trash-can"></i></div>
                <ng-template #elseBlock><div class="assigned">Assignat</div></ng-template>
                <p class="num">{{g.dia}}</p>
                <div class="place">
                    <div><h3>{{g.unitat}}</h3></div>
                    <p>Descripcio Unitat</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #senseGuardies>
        <p class="senseGuardia">No tens cap guardia inscrita</p>
    </ng-template>
</section>
<section id="confirm_window" class="hide">
    <div id="window_box">
        <h2>Vols Eliminar la guardia?</h2>
        <div class="data">
            <label>Dia</label><p name="dia">10, Gener 2022</p>
            <label>Torn</label><p name="torn">MATI</p>
            <label>Places</label><p name="places">2</p>
            <label>Inscripcions</label><p name="inscripcions">6</p>
        </div>
        <div id="buttons">
            <button class="btn_cancel">No, la vull fer</button>
            <button class="btn_eliminar">Sí, elimina-la</button>
        </div>    
    </div>
</section>