<script src="../../../../assets/js/month.js"></script>
<header>
    <h1>CALENDARI</h1>
    <p>{{month.name}} {{month.year}}</p>
</header>
<!--estil branques-->
<div id="overflow_style"  [ngClass]="this.setClassSeason(this.month.season)"></div><!--Estació es una classe {{month.season}}-->

<section id="body">
    <div id="color_legend">
        <div class="legend_item">
            <div class="color"></div>
            <h5>assignades</h5>
        </div>
        <div class="legend_item">
            <div class="color"></div>
            <h5>apuntades</h5>
        </div>
        <div class="legend_item">
            <div class="color"></div>
            <h5>disponibles</h5>
        </div>
    </div>

    <!--Moure's un mes, següent o anterior-->
    <div id="change_month">
        <i class="fa-solid fa-caret-left"></i>
        <h4>{{month.name}}</h4>
        <i class="fa-solid fa-caret-right"></i>
    </div>

    <section id="calendar">
        <div class="calendar_grid">
            <h6>DL</h6>
            <h6>DT</h6>
            <h6>DC</h6>
            <h6>DJ</h6>
            <h6>DV</h6>
            <h6>DS</h6>
            <h6>DG</h6>
        </div>
        <div class="calendar_grid">
            <!--ngFor month.days each(day:Day)-->
            <div *ngFor="let day of this.month.days let i = index" class="day" [attr.data-index]="i" [ngClass]="day.holiday ? 'festivo': ''">
                <p *ngIf="day.num > 0">{{day.num}}</p>
            </div>
        </div>
    </section>
    <div id="btn_allMonths">VEURE MESOS</div>
</section>
<div id="allMonths_box">
    <div class="month_list">
        <div class="month" *ngFor="let month of this.months" [attr.date-filter]="this.getDate(2023, month)">
            <h1>{{month}}</h1><br>
            <p>2023</p>
        </div>
    </div>
    <div class="exitMonths"></div>
</div>

