/* HEADER */
header > div
{
    margin-top: 1vh;
    display: flex;
    gap: 24px;
}
header > div > h3
{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1em;
    color: #15151580;
}
header > div > h3.active{color:#151515}


.grafic_box
{
    margin: 2em 0;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cercleFront
{
    z-index: 1;
    background: #FFF;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cercleFront h1
{
    font-size: 2.4em;
    height: 1.2em;
}
.cercleFront h3
{
    font-size: 1.3em;
    height: 1em;
}
.cercleFront h5
{
    font-size: 0.9em;
    height: 1em;
    color: var(--color-disabled);
}
.grafic
{
    position: absolute;
    width: 160px;
	height: 160px;
	border-radius: 50%;
}

#guardies
{
    position: relative;
    width: 90%;
    border-radius: 30px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 12px var(--color-shadow);
    background: #fff;
}
/*#guardies::before*/
.guardia:nth-child(1) > div[name="num"]::before
{
    content: 'GUARDIES';
    position: absolute;
    height: 30px;
    color: var(--color-disabled);
    font-size: 16px;
    font-weight: 200;
    top: -8.5vh;
    top: calc(-1.5em - 36px);
    right: 50%;
    transform: translateX(50%);
}
.guardia:nth-child(1) > div[name="num"]::after
{
    content: 'N#';
    position: absolute;
    height: 30px;
    color: var(--color-disabled);
    font-size: 18px;
    font-weight: 600;
    top: -11.5vh;
    top: calc(-1.5em - 56px);
    right: 50%;
    transform: translateX(50%);
}

.color
{
    height: 30px;
    width: 30px;
}
.color {background: var(--urgencies);}
.color[color-data="1"] {background: var(--unitat-1);}
.color[color-data="2"] {background: var(--unitat-2);}
.color[color-data="3"] {background: var(--unitat-3);}
.color[color-data="4"] {background: var(--unitat-4);}


.senseGuardia{color: var(--color-disabled);}
.guardia
{
    width: 100%;
    padding: .5em;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid var(--color-grey);
}
.guardia:last-child{border-bottom: none;}

.guardia > div:has(h3){justify-self: start; padding-left: 10px;}
.guardia h3{font-size: 1em;height: 1em;}
.guardia p{font-size: .9em;color: var(--color-disabled);}
.guardia div[name="num"]{position:relative;font-size: 1.6em; font-weight: 600;}