<header>
    <h1>GUARDIES</h1>
    <div><h3 class="active">historial</h3><h3>agenda</h3></div>
</header>
<section id="body">

    <div class="grafic_box">
        <div class="cercleFront">
            <h1>{{this.totalUnitats}}</h1>
            <h3>GUARDIES</h3>
            <h5>TOTAL</h5>
        </div>
        <div class="grafic" [ngStyle]="{'background-image': conicGradient}"></div>
    </div>


    <div id="guardies">
        <div *ngFor="let g of this.guardiesUnitat" class="guardia">
            <div class="color" [attr.color-data]="setColorUnitat(g.nom)"></div>
            <div>
                <h3>{{g.nom}}</h3>
                <p>Infermeria, lesions greus</p>
            </div>
            <div name="num">{{g.num}}</div>
        </div>
    </div>
</section>
<app-navbar></app-navbar>
