<header>
    <h1>GUARDIES</h1>
    <div><h3 class="active">historial</h3><h3>agenda</h3></div>
</header>
<section id="body">
    <div id="total">
        <h2>28</h2>
        <h4>GUARDIES</h4>
        <p>TOTAL</p>
    </div>
    <div id="guardies">
        <div class="guardia">
            <div>
                <h3>Unitat 1</h3>
                <p>Infermeria, lesions greus</p>
            </div>
            <div>10</div>
        </div>
        <div class="guardia">
            <div>
                <h3>Unitat 1</h3>
                <p>Infermeria, lesions greus</p>
            </div>
            <div>10</div>
        </div>
        <div class="guardia">
            <div>
                <h3>Unitat 1</h3>
                <p>Infermeria, lesions greus</p>
            </div>
            <div>10</div>
        </div>
    </div>
</section>