
.table
{
  justify-content: center;
}

.table p:nth-child(1),.table p:nth-child(2){width: 100px}
.table p:nth-child(3){width: 60px;}
.table p:nth-child(4){width: 80px;}
.table p{padding:0;text-align: center;}

.btns
{
  position: fixed;
  bottom: 0;
  display: flex; 
  gap: 10px;
  z-index: 8;
  transition: .3s;
}
.btns.active{bottom: 14vh;}

#exit.hide
{
  top: 100vh !important;
  z-index: 2;
}

input[type="number"]{width: 40px;}
.addPlantilla
{
  padding: 1em;
  width: calc(80% + 2em);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.addPlantilla p
{
  font-size: .7em;
  width: 100%;
  text-align: center;
  color: #707070;
}