<header>
    <h1>Administracio</h1>
    <p>{{this.nom}}</p>
</header>
<section id="body">
    <div class="filtres">
        <select #gEstat (change)="setGEstatFilter(gEstat.value)">
            <option *ngFor="let e of this.gEstats">{{e}}</option>
        </select>
        <button (click)="filterElements()">FILTRAR</button>
    </div>
    
    <div class="table" *ngIf="this.apunt">
        <ul *ngIf="this.guardies.length > 0; else elseBlock">
            <li class="tr_header">
                <p name="data">Dia</p> 
                <p name="uni">Unitat</p> 
                <p name="nom">Categoria</p> 
                <p name="cat">Torn</p> 
                <p name="guard">Inscripcio</p>
            </li>
            <li class="table_li" *ngFor="let g of this.guardies">
                <p name="data">{{this.dataToString(g.data_guardia)}}</p>
                <p name="uni">{{g.unitat}}</p>
                <p name="nom">{{g.categoria}}</p>
                <p name="cat">{{g.torn}}</p>
                <p name="guard">{{g.estat_guardia}}</p>
            </li>
        </ul>
        <ng-template #elseBlock>
            <div id="tableNull">Aquest treballador no s'ha apuntat a cap guardia</div>
        </ng-template>
    </div>
</section>
<button id="exit" (click)="goToTreballadors()"></button>
<app-navbar></app-navbar>
