<header>
    <h1>ADministracio</h1>
    <p>{{this.nom}}</p>
</header>
<section id="body">
    <div class="filtres">
        <!--<select #guardiaEstat (change)="setSelectFilter(cat.value)">
            <option *ngFor="let g of this.categories">{{g.nom}}</option>
        </select>
        <select #estat (change)="setSelectFilter(cat.value)">
            <option *ngFor="let e of this.categories">{{e.nom}}</option>
        </select>-->
        <button>FILTRAR</button>
    </div>
    
    <div class="table">
        <ul>
            <li class="tr_header">
                <p name="dni">Dia</p> 
                <p name="dni">Unitat</p> 
                <p name="nom">Categoria</p> 
                <p name="cat">Torn</p> 
                <p name="guard">Inscripcio</p>
                <p name="guard">Estat</p>
            </li>
            <li class="table_li" *ngFor="let g of this.guardies">
                <p name="dni">{{this.dataToString(g.data_guardia)}}</p>
                <p name="dni">{{g.unitat}}</p>
                <p name="dni">{{g.categoria}}</p>
                <p name="dni">{{g.torn}}</p>
                <p name="dni">{{g.estat_guardia}}</p>
                <p name="dni">{{g.estat}}</p>
            </li>
        </ul>
    </div>
</section>